<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437377577097-035e44or1m8e0pp0atig9lf4k4e89qq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437377577097-035e44or1m8e0pp0atig9lf4k4e89qq4</string>
	<key>API_KEY</key>
	<string>AIzaSyCS0hZZft6dgNtoas669ShlbE9OZ19Up3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>437377577097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.thepayee</string>
	<key>PROJECT_ID</key>
	<string>the-payee-89427</string>
	<key>STORAGE_BUCKET</key>
	<string>the-payee-89427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437377577097:ios:ca3d28b3f0845521e1d658</string>
</dict>
</plist>